@font-face {
	font-family: AkzidenzGroteskPro;
	font-display: swap;
	src: url("../fonts/AkzidenzGroteskPro-light.woff2") format("woff2"), url("../fonts/AkzidenzGroteskPro-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: AkzidenzGroteskPro;
	font-display: swap;
	src: url("../fonts/AkzidenzGroteskPro-medium.woff2") format("woff2"), url("../fonts/AkzidenzGroteskPro-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: AkzidenzGroteskPro;
	font-display: swap;
	src: url("../fonts/AkzidenzGroteskPro-regular.woff2") format("woff2"), url("../fonts/AkzidenzGroteskPro-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AkzidenzGroteskProEx;
	font-display: swap;
	src: url("../fonts/AkzidenzGroteskProEx-medium.woff2") format("woff2"), url("../fonts/AkzidenzGroteskProEx-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: AkzidenzGroteskProEx;
	font-display: swap;
	src: url("../fonts/AkzidenzGroteskProEx-light.woff2") format("woff2"), url("../fonts/AkzidenzGroteskProEx-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: AkzidenzGroteskProEx;
	font-display: swap;
	src: url("../fonts/AkzidenzGroteskProEx-bold.woff2") format("woff2"), url("../fonts/AkzidenzGroteskProEx-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AkzidenzGroteskProEx;
	font-display: swap;
	src: url("../fonts/AkzidenzGroteskProEx-regular.woff2") format("woff2"), url("../fonts/AkzidenzGroteskProEx-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
