//======================================================================
.header {
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(170);

    @media (max-width: $tablet) {
      min-height: rem(70);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: rem(45);
  }

  &__link {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__logo {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &-mobile__logo {
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: rem(65);
  }
}

.menu {
  &__body {
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 55, 45, 1920, 992);
  }

  &__item {
  }

  &__link {
    font-size: 16px;
    line-height: math.div(21, 16);
    color: $mainColor;

    @media (any-hover: hover) {
      &:hover {
        border-bottom: 2px solid #e21633;
      }
    }
  }

  &__icon {
  }
}

.icon-menu {
  display: none;
  display: block;
  position: relative;
  width: 30px;
  align-self: flex-start;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.nav-menu-cross {
  height: 4px;
  width: 30px;
  background-color: $colorRed;
  display: block;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: $colorRed;
    top: 10px;
    right: 0;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;

    .menu-open & {
      background: $colorBlack;
      height: 2px;
      transform: rotate(-90deg) translate3d(10px, 0px, 0);

      @media (max-width: $tablet) {
        width: rem(40);
      }
    }
  }

  .menu-open & {
    background: $colorBlack;
    height: 2px;
    transform: translate3d(0, 4px, 0) rotate(45deg);

    @media (max-width: $tablet) {
      width: rem(40);
    }
  }
}
//======================================================================
